
/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* Heroe */
.heroSection{
    position: relative;
    background: url("../../images/single-image.jpg")center/cover;
    width: 100vw;
    min-height: calc(100vh - 70px);
    background-repeat: no-repeat;
}

.heroSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(69, 40, 220, 0.6);
}

#mi-video{
    width: 100vw;
    height: calc(100vh - 70px);
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.overlay{
    position: relative;
    padding: 10px 0 30px;
} 

.infoHero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 70px);
    max-width: 1500px;
    margin: auto;
    width: 90%;
}

.leftSection{
    width: 55%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.titleHero{
    color: var(--white);
    font-size: clamp(30px, 8vh, 50px);
    font-family: "Quicksand-semiBold";
    b{
        color: #FFF;
        font-family: "Quicksand-bold";
    }
}

.descriptionHero{
    color: var(--white);
    font-size: 3vh;
    font-size: clamp(15px, 3vh, 30px);
    font-family: "Quicksand-semiBold";
    line-height: 1.75;
    
}

.downloadButton{
    width: max-content;
    border: 0.5vh solid #FFF;
    padding: 2vh 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3vh;
    color: #FFF;
    cursor: pointer;
    border-radius: 10px;

    p{
        color: #FFFFFF;
        font-size: clamp(18px, 3vh, 30px);
        font-weight: bold;
    }

    img{
        width: 4.5vh;
    }
}

.rightSection {
    width: 40%;
}

.rightSection img {
    width: 100%;
    max-height: 60vh;
    object-fit: contain;
    border-radius: 10px;
}

@media screen and (max-width: 1000px){
    .titleHero{
        font-size: 30px;
        text-align: center;
    }

    .descriptionHero{
        font-size: 20px;
        text-align: center;
    }

    .downloadButton{
        padding: 10px 20px;
        border: 2px solid #FFFFFF;
        margin: 0 auto;
        p{
            font-size: 18px;
        }
    
        img{
            width: 24px;
        }
    }

}

@media screen and (max-width: 800px){
    .infoHero{
        flex-direction: column;
        row-gap: 3vh;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .leftSection{
        width: 100%;
        row-gap: 3vh;
    }

    .rightSection {
        width: 100%;
    }

    .overlay{
        height: auto;
    }
}



/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* Seccion de trazul */

.sectionTrazul{
    margin-top: 40px !important;
}


.titleSection{
    text-align: center;
    color: #0071BC;
    font-family: "Quicksand-bold";
    font-size: 30px;
    text-align: center;
    margin: 0 10px 25px;
}

.description{
    text-align: center;
}

.containerInfoTrazul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.leftContent,
.rightContent{
    width: 35%;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.centerContent{
    width: 20%;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.optionInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   


    .right{
        text-align: right;
    }

    .left{
        text-align: left;
    }

    span{
        color: #3194d2;
        font-weight: bold;
    }

    .contentImg{
        border-radius: 50%;
        border: 2px solid #3194d2;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
            padding: 15%;
            width: 100%;
            height: 100%;
            object-fit:scale-down;
        }
    }

    p{
        width: calc(100% - 120px);
        word-break: break-word;
    }
}

@media screen and (max-width: 1000px){
    .optionInfo{
        align-items: start;
        .contentImg{
            width: 70px;
            height: 70px;
        }
        p{
            width: calc(100% - 90px);
        }

    }
    
    .centerContent{
        width: 25%;
    }

}

@media screen and (max-width: 970px){
    .optionInfo{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 10px;
        /* height: 120px; */
        .contentImg{
            width: 48px;
            height: 48px;
        }
        p{
            width: 100%;
        }

        .right{
            text-align: center ;
        }
    
        .left{
            text-align: center;
        }

    }
    
    .reverseMobile{
        flex-direction: column !important;
        justify-content: start;
    }
}

@media screen and (max-width: 750px){

    .titleSection{
        font-size: 25px;
    }

    .containerInfoTrazul{
        flex-direction: column;
    }

    .leftContent, .rightContent{
        width: 100%;
    }

    .centerContent{
        display: none;
    }

    
    .optionInfo{
        width: 100%;
        flex-direction: row-reverse;

        .right{
            text-align: left;
        }

        .left{
            text-align: left;
        }

        p{
            font-size: 18px;
        }

        .contentImg{
            border-radius: 50%;
            border: 2px solid #3194d2;
            width: 60;
            height: 60;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img{
                padding: 15%;
                width: 100%;
                height: 100%;
                object-fit:scale-down;
            }
        }

        p{
            width: calc(100% - 75px);
        }
    }

    .reverseMobile{
        flex-direction: row !important;
        justify-content: space-between;
    }

    .rightContent{
        margin-top: 20px;
    }
}



/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* Solucion  */

.sectionSolution{
    padding-top: 40px;
    padding-bottom: 40px;
}

.containerSolution{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.leftcontentSolution{
    width: 60%;

    img{
        width: 100%;
    }
}

.rightContentSolution{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}


.optionInfoSolution{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   


    .right{
        text-align: right;
    }

    .left{
        text-align: left;
    }

    span{
        color: #3194d2;
        font-weight: bold;
    }

    .contentImg{
        border-radius: 50%;
        border: 2px solid #3194d2;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
            padding: 15%;
            width: 100%;
            height: 100%;
            object-fit:scale-down;
        }
    }

    p{
        width: calc(100% - 120px);
        word-break: break-word;
    }
}

@media screen and (max-width: 1000px){
    .leftcontentSolution {
        width: 45%;
    }

    .rightContentSolution {
        width: 55%;
    }
}

@media screen and (max-width: 700px){
    .containerSolution{
        flex-direction: column;
        row-gap: 15px;
    }
    .leftcontentSolution {
        width: 100%;
    }

    .rightContentSolution {
        width: 100%;
    }
    .containerSolution{
        padding: 10px 0 0;
    }

    .optionInfoSolution{
        .contentImg{
            width: 48px;
            height: 48px;
        }

        .left{
            width: calc(100% - 75px);
        }
    }
}



/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/* Planes */

.sectionPlans{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.containerCards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.cardPlan{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    max-width: 32%;

    img{
        width: 50px;
        height: 50px;
    }
}

.titleCard{
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

.descriptionPlan{
    margin-top: 10px;
    margin-bottom: 10px;
}

.priceCard{
    color: #707070;
    font-size: 20px;
}

ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    li{
        text-align: center;
    }
}

.buttonContact{
    background-color: #3194d2;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


@media screen and (max-width: 700px){
    .titleCard{
        color: #000000;
        font-size: 18px;
        font-weight: bold;
    }

    .priceCard{
        color: #707070;
        font-size: 16px;
    }

    .cardPlan{
        max-width: 45%;
    }
    
}


@media screen and (max-width: 500px){
    .cardPlan{
        max-width: 100%;
    }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* Sección de contacto */

.contactSection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px !important;

}

.infoSection{
    width: 50%;
    padding: 5px 5% 20px;
}

.containerFormSection{
    width: 50%;
    padding: 5px 5% 20px;
}

.titleContact{
    padding-top: 30px;
}

.containerFormSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: auto;
}

.containerFormSection input, 
.containerFormSection textarea,
.containerFormSection select{
    width: 90%;
    background-color: #FFFFFF;
    height: 42px;
    padding: 0 5%;
    outline: none;
    font-size: 18px;
    width: 100%;
    border: 1px solid #ddd ;
    border-radius: 10px;
}

.containerFormSection textarea{
    padding-top: 10px;
}

.buttomSubmit{
    width: max-content !important;
    background-color: #3194d2 !important;
    border: 0 !important;
    color: #FFFFFF;
    padding:10px 20px !important;
}

@media screen and (max-width: 800px){
    .contactSection{
        flex-direction: column;
    }

    .infoSection{
        width: 100%;
    }

    .containerFormSection{
        width: 100%;
    }
}
