
/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */

/* All sections */
#allSections{
    background: url("../../images/prototipoRedAzul-co.svg")top/cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}
html{
    scroll-behavior: auto !important;
}
body{
    overflow-x: hidden;
}

.downloadButtonOtherSection{
    margin:40px  auto;
    width: max-content;
    max-width: 90%;
    border: 0.5vh solid #ffffff;
    padding: 2vh 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3vh;
    color: #3194d2;
    cursor: pointer;
    border-radius: 10px;

    p{
        color: #ffffff;
        font-size: clamp(18px, 3vh, 30px);
        font-weight: bold;
    }

    img{
        width: 32px;
    }
}


/* Heroe */

.divVideo{
    width: 100%;
    /* height: calc(100vh - 70px); */
    height: calc((var(--vh, 1vh) * 100) - 70px);
    /* position: relative; */
    overflow: hidden;
}

.sourceVideoPc{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.buttomUnete{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFED00;
    border-radius: 10px 10px 0 0;
    padding: 13px;
    width: 15%;
    min-width: 200px;
    max-width: 200px;
    text-align: center;    
    font-size: 23px ;
    font-family: "Nunito-bold";
    color: #4D4D4D;
}



/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* Seccion de trazul */

#containerSectionTrazul{
    height: calc((100vh - 70px)* 3);
}

.sectionTrazul{
    padding-top: 40px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    position: sticky;
    top: 70px;
    overflow: hidden;
    width: 100%;
}


.titleSection{
    text-align: center;
    color: #FFF;
    font-family: "Quicksand-bold";
    font-size: 30px;
    text-align: center;

    /* margin: 10px auto ; */
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

#titleTrazul{
    transform: scale(2);
    opacity: 0;
}

.description{
    text-align: center;
}

.containerInfoTrazul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    height: calc(100% - 80px);
    padding-bottom: 40px;
    column-gap: 40px;
    /* overflow: hidden; */
    /* margin: 40px 0; */
}

.leftContent,
.rightContent{
    width: 35%;
    max-width: 420px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    will-change: transform;
    opacity: 0;
}

.leftContent{
    transform: translateX(-100%);
}

.rightContent{
    transform: translateX(100%);
}

.centerContent{
    width: 20%;
    max-width: 300px;
    transform: scale(2);
    opacity: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.optionInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);


    .right{
        text-align: right;
    }

    .left{
        text-align: left;
    }

    span{
        color: #3194d2;
        font-weight: bold;
    }

    .contentImg{
        border-radius: 50%;
        border: 2px solid #3194d2;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
            padding: 15%;
            width: 100%;
            height: 100%;
            object-fit:scale-down;
        }
    }

    p{
        width: calc(100% - 120px);
        word-break: break-word;
    }
}

@media screen and (max-width: 1000px){
    .optionInfo{
        align-items: start;
        .contentImg{
            width: 70px;
            height: 70px;
        }
        p{
            width: calc(100% - 90px);
        }

    }
    
    .centerContent{
        width: 25%;
    }

}

@media screen and (max-width: 970px){
    .optionInfo{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 10px;
        /* height: 120px; */
        .contentImg{
            width: 48px;
            height: 48px;
        }
        p{
            width: 100%;
        }

        .right{
            text-align: center ;
        }
    
        .left{
            text-align: center;
        }

    }
    
    .reverseMobile{
        flex-direction: column !important;
        justify-content: start;
    }
}

@media screen and (max-width: 1000px){
    /* #titleTrazul{
        color: #3194d2 !important;
    } */
    .sectionTrazul{
        height: auto;
    }

    .titleSection{
        font-size: 25px;
    }

    .containerInfoTrazul{
        flex-direction: column;
        align-items: center;
    }

    .leftContent, .rightContent{
        width: 100%;
        max-width: 90%;
    }

    .centerContent{
        display: none;
    }

    
    .optionInfo{
        width: 100%;
        flex-direction: row-reverse;

        .right{
            text-align: left;
        }

        .left{
            text-align: left;
        }

        p{
            font-size: 18px;
        }

        .contentImg{
            border-radius: 50%;
            border: 2px solid #3194d2;
            width: 60;
            height: 60;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img{
                padding: 15%;
                width: 100%;
                height: 100%;
                object-fit:scale-down;
            }
        }

        p{
            width: calc(100% - 75px);
        }
    }

    .reverseMobile{
        flex-direction: row !important;
        justify-content: space-between;
    }

    .rightContent{
        margin-top: 20px;
    }
}



/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* Solucion  */

#benefitsOfTrazul{
    /* background-color: #FFFFFF; */
    width: 100%;
    height: calc((100vh - 70px)* 3);
}

.sectionSolution{
    padding-top: 40px;
    padding-bottom: 40px;
    position: sticky;
    top: 70px;
    overflow: hidden;
    height: calc(100vh - 70px);

}

.containerSolution{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.leftcontentSolution{
    width: 60%;
    max-width: 720px;
    transform: translateX(-100%);
    will-change: transform, opacity;
    opacity: 0;
    img{
        width: 100%;
    }
}

.rightContentSolution{
    width: 38%;
    max-width: 456px;
    transform: translateX(100%);
    will-change: transform, opacity;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    opacity: 0;
}

.titleSolution{
    opacity: 0;
}

.optionInfoSolution{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: rgb(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); 


    .right{
        text-align: right;
    }

    .left{
        text-align: left;
    }

    span{
        color: #3194d2;
        font-weight: bold;
    }

    .contentImg{
        border-radius: 50%;
        border: 2px solid #3194d2;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
            padding: 15%;
            width: 100%;
            height: 100%;
            object-fit:scale-down;
        }
    }

    p{
        width: calc(100% - 120px);
        word-break: break-word;
    }
}

@media screen and (min-height: 700px){
    .sectionSolution{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1000px){
    .leftcontentSolution {
        width: 45%;
    }

    .rightContentSolution {
        width: 55%;
    }
    .sectionSolution{
        height: auto;
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 1000px){
    .containerSolution{
        flex-direction: column;
        row-gap: 15px;
    }
    .leftcontentSolution {
        width: 100%;
    }

    .rightContentSolution {
        width: 100%;
    }
    .containerSolution{
        padding: 10px 0 0;
    }

    .optionInfoSolution{
        .contentImg{
            width: 48px;
            height: 48px;
        }

        .left{
            width: calc(100% - 75px);
        }
    }
}



/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/* Planes */

.sectionPlans{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.containerPlans{
    width: 1200px;
    max-width: 90%;
    margin: auto;
}

.containerCards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.cardPlan{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    max-width: 32%;
    transition: transform .9s ease;

    img{
        width: 50px;
        height: 50px;
    }
}

.cardPlan:hover{
    transform: scale(1.1);
}

.titleCard{
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.descriptionPlan{
    margin-top: 10px;
    margin-bottom: 10px;
}

.priceCard{
    color: #000;
    /* font-weight: ; */
    font-size: 20px;
}


ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.buttonContact{
    background-color: #FFFFFF;
    color: #3194d2;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
}

.aditionalsCard{
    background-color: #FFFFFF;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    width: 88%;
    margin: auto;
    border-radius: 10px;
}

.titleCardAditional{
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.optonsAditionals{
    display: flex;
    justify-content: space-evenly   ;
    padding: 20px;
    row-gap: 25px;
    flex-wrap: wrap;
    column-gap: 20px;
}

.aditionalOptions{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #FFFFFF;
    min-width: 165px;
    justify-content: center;
}

.titleAditional{
    text-align: center;
    font-weight: bold;
    color: #000;
}

.descriptionAditional{
    text-align: center;
    color: #000;
}

.goldPlan{
    background: linear-gradient(to bottom, #fef4bb, #FFFFFF);
}

.platinumPlan{
    background: linear-gradient(to bottom, #cceff8, #FFFFFF);
}

.basicPlan{
    background: linear-gradient(to bottom, #F8F8F8, #FFFFFF);
}

.descriptionPlan li b{
    color: #000000;
}

/* Calculadora */
.cotizarPlan{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 40px;
}

.containerSectionCalculator{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.calculatorcontainer{
    border: 1px solid #3194d2;
    border-radius: 10px;
    /* padding: 15px 0 0; */
    min-width: 380px;
    max-width: 35%;
    display: flex;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}


.responseCalculator{
    border: 1px solid #3194d2;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 35%;
    min-width: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.labelOptions{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.infoCalculator{
    padding: 29px 20px;
}

.calculate{
    width: max-content;
    margin: auto;
    background: #3194d2;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.titleInputsCalculator{
    color: #707070;
}

.inputCalculator{
    border: none;
    outline: none;
    appearance: textfield;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
}

.price{
    background-color: #3194d2;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 12px 0;
    b{
        color: #ffffff;
    }
}

.infoCalculator{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.cardPerfectPlan{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .titleCard{
        font-size: 18px;
    }

    .priceCard{
        font-size: 16px;
    }

}

.goldAllPlan{
    /* background: linear-gradient(to bottom, #fef4bb, #FFFFFF); */
    background-color: #fef4bb;
}

.platinumAllPlan{
    /* background: linear-gradient(to bottom, #cceff8, #FFFFFF); */
    background-color: #cceff8;
}

.basicAllPlan{
    /* background: linear-gradient(to bottom, #F8F8F8, #FFFFFF); */
    background-color: #F8F8F8;
}

.titlePerfectPlan{
    color: #000000;
    font-weight: bold;
    font-size:18px;
}

.subtitlePerfectPlan{
    color: #000000;
    font-weight: bold;
    font-size: 17px;
}

.buttonPerfectPlan{
    margin: 0 !important;
}

.bPerfectPlan{
    color: #000;
}

@media screen and (max-width: 1000px){
    .titleCard{
        color: #000000;
        font-size: 18px;
        font-weight: bold;
    }

    .priceCard{
        color: #707070;
        font-size: 16px;
    }

    .cardPlan{
        max-width: 45%;
    }
    
    .calculatorcontainer{
        min-width: auto;
        width: 45%;
        max-width: 45%;
    }
    .responseCalculator{
        min-width: auto;
        width: 45%;
        max-width: 45%;
    }
}

@media screen and (max-width: 700px){
    .containerSectionCalculator{
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
    .calculatorcontainer{
        width: 90%;
        max-width: 90%;
    }
    .responseCalculator{
        width: 90%;
        max-width: 90%;
    }
}


@media screen and (max-width: 500px){
    .cardPlan{
        max-width: 100%;
    }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* Sección de contacto */

.contactSection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px !important;

}

.infoSection{
    width: 50%;
    padding: 5px 5% 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgFormSection{
    width: 90%;
    height: 90%;
    border-radius: 15px;
}

.containerFormSection{
    width: 50%;
    padding: 5px 5% 20px;
}

.titleContact{
    padding-top: 30px;
    color: #3194d2;
    margin: 0 auto;
}

.containerFormSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: auto;
}

.containerFormSection input, 
.containerFormSection textarea,
.containerFormSection select{
    width: 90%;
    background-color: #FFFFFF;
    height: 42px;
    padding: 0 5%;
    outline: none;
    font-size: 18px;
    width: 100%;
    border: 1px solid #ddd ;
    border-radius: 10px;
}

.containerFormSection textarea{
    padding-top: 10px;
}

.buttomSubmit{
    width: max-content !important;
    background-color: #3194d2 !important;
    border: 0 !important;
    color: #FFFFFF;
    padding:10px 20px !important;
}

@media screen and (max-width: 800px){
    .contactSection{
        flex-direction: column;
    }

    .infoSection{
        width: 100%;
    }

    .containerFormSection{
        width: 100%;
    }

    .imgFormSection{
        width: 100%;
    }
}
