<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/web/download.css">
    <link rel="stylesheet" href="/css/web/globalStyles.css">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <%- include('../partials/metas.ejs') %>
    <title> Descargar - TRAZUl </title>
</head>
<body>
    <%- include('../partials/headerTrazul.ejs') %>
    <div class="container">
        <h2 class="titleSection">dsfdsf</h2>
    </div>
</body>
</html>