<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/web/home.css">
    <link rel="stylesheet" href="/css/web/globalStyles.css">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <%- include('../partials/metas.ejs') %>
    <title>Home - TRAZUL</title>
</head> 
<body>
    <%- include('../partials/headerTrazul.ejs') %>
    <div class="heroSection">
        <div class="overlay">
            <div class="infoHero">
                <div class="leftSection">
                    <h1 class="titleHero">“Traza el camino de tu producción al éxito”</h1>
                    <p class="descriptionHero">Trazul es la aplicación de trazabilidad y gestión especializada en el sector acuícola Colombiano, facil, seguro, adaptado a las exigencias de la normatividad nacional e internacional y te permite vender en linea.</p>
                    <a class="downloadButton" href="/downloadTrazul">
                        <img src="/images/apk_install_24.svg" alt="">
                        <p>Descargala y usala gratis</p>
                    </a>
                </div>
                <div class="rightSection">
                    <img src="/images/heroe.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="sectionTrazul container">
        <h2 class="titleSection">Como Trazul le entrega valor a tu negocio</h2>
        <!-- <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque veniam, ullam corrupti vitae nesciunt eos blanditiis minus nobis iusto?</p> -->

        <div class="containerInfoTrazul">
            <div class="leftContent">
                <div class="optionInfo">
                    <p class="right"><span>Trazabilidad</span> <b>Interna y externa,</b> pensada para la <b>interoperabilidad</b> y para cumplir con el <b>mercado europeo y estadounidense.</b></p>
                    <div class="contentImg">
                        <img  src="/images/TrAzul-ICOs-AquaCode.png" alt="">
                    </div>
                    
                </div>
                <div class="optionInfo">
                    <p class="right"><span>Registro contable</span> orientado a la estimación de la <b>utilidad por lote.</b></p>
                    <div class="contentImg">
                        <img  src="/images/contable-TrAzul-ICO.png" alt="">
                    </div>
                    
                </div>
                <div class="optionInfo">
                    <p class="right"><span>Registro de procesos de la producción</span> que son claves para evaluar el rendimiento y para vender ofrecimiendo un mayor valor percibido. </p>
                    <div class="contentImg">
                        <img  src="/images/productTrazadoTrAzul-ICO.png" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="centerContent">
                <img src="/images/trazulApp.png" alt="">
            </div>
            <div class="rightContent">
                <div class="optionInfo reverseMobile">
                    <div class="contentImg">
                        <img src="/images/policultivoTrAzul-ICO.png" alt="">
                    </div>
                    <p class="left"><span>Cultivo de múltiples especies</span> pueden ser trazados, gestionado y vendidos </p>
                </div>
                <div class="optionInfo reverseMobile">
                    <div class="contentImg">
                        <img src="/images/permisos1.png" alt="">
                    </div>
                    <p class="left"><span>Adaptada a los requerimientos nacionales</span> sin dejar de cunplir con estándares internacionales (GDST) </p>
                </div>
                <div class="optionInfo reverseMobile">
                    <div class="contentImg">
                        <img src="/images/personalTraza2.png" alt="">
                    </div>
                    <p class="left"><span>Usuarios con diversos roles</span> por unidad productiva y organización </p>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="width: 100vw; background-color: #FFFFFF;">
        <div class="sectionSolution container">
            <h2 class="titleSection">Lorem ipsum dolor sit amet,</h2>
            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque veniam, ullam corrupti vitae nesciunt eos blanditiis minus nobis iusto?</p>

            <div class="containerSolution">
                <div class="leftcontentSolution">
                    <img src="/images/design-various-RedAzul.png" alt="">
                </div>
                <div class="rightContentSolution">
                    <div class="optionInfoSolution">
                        <div class="contentImg">
                            <img src="/images/userNatural2.png" alt="">
                        </div>
                        <p class="left"><span>Usuarios verificados</span> para generar confianza entre ellos en las negociaciones.</p>
                    </div>
                    <div class="optionInfoSolution">
                        <div class="contentImg">
                            <img src="/images/lotePescado2.png" alt="">
                        </div>
                        <p class="left"><span>Oferta por lotes con trazabilidad</span> para generar confianza en la calidad de los productos.</p>
                    </div>
                    <div class="optionInfoSolution">
                        <div class="contentImg">
                            <img src="/images/positionICO.png" alt="">
                        </div>
                        <p class="left"><span>Buscador con contexto geográfico</span> que es importante para los controladores.</p>
                    </div>
                    <div class="optionInfoSolution">
                        <div class="contentImg">
                            <img src="/images/verificaCampo.png" alt="">
                        </div>
                        <p class="left"><span>Servicio de verificación en campo</span> durante la cosecha y/o despacho.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container sectionPlans">
        <h2 class="titleSection">Nuestros planes</h2>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque veniam, ullam corrupti vitae nesciunt eos blanditiis minus nobis iusto?</p>

        <div class="containerCards">
            <div class="cardPlan generalShadow">
                <img src="/images/stacks_24.svg" alt="">
                <div class="titleCard">Plan principal</div>
                <div class="priceCard">$12.000 mensual</div>
                <ul class="descriptionPlan">
                    <li>2 estanques</li>
                    <li>Vender lotes</li>
                    <li>compra de lotes</li>
                </ul>
                <div class="buttonContact generalShadow"> Contactanos </div>
            </div>
            <div class="cardPlan generalShadow">
                <img src="/images/stacks_24.svg" alt="">
                <div class="titleCard">Plan principal</div>
                <div class="priceCard">$12.000 mensual</div>
                <ul class="descriptionPlan">
                    <li>2 estanques</li>
                    <li>Vender lotes</li>
                    <li>compra de lotes</li>
                </ul>
                <div class="buttonContact generalShadow"> Contactanos </div>
            </div>
            <div class="cardPlan generalShadow">
                <img src="/images/stacks_24.svg" alt="">
                <div class="titleCard">Plan principal</div>
                <div class="priceCard">$12.000 mensual</div>
                <ul class="descriptionPlan">
                    <li>2 estanques</li>
                    <li>Vender lotes</li>
                    <li>compra de lotes</li>
                </ul>
                <div class="buttonContact"> Contactanos </div>
            </div>
        </div>
    </div>

    <div class="" style="width: 100vw; background-color: #FFFFFF;">
        <h2 class="titleSection titleContact">Ponte en contacto con nosotros</h2>
        <div class="container contactSection ">
            <div class="infoSection">                
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit est dolorem ab inventore labore consequatur esse, voluptatum magnam officia delectus?</p> -->
            </div>
            <form class="containerFormSection">
                <select name="" id="">
                    <option disabled selected>¿Cual es tu rol?</option>
                    <option value="1">Acuicultor</option>
                    <option value="2">Comprador mayorista</option>
                </select>
                <input type="text" name="nameUser" class="" placeholder="Nombre completo">
                <input type="email" name="email" class="" placeholder="Correo electronico">
                <input type="number" name="numberPhone" class="" placeholder="Numero celular">
                <textarea name="" id="" placeholder="Escribe un mensaje" cols="20" rows="7"></textarea>
                <input type="submit" value="Contactarnos" class="buttomSubmit">
            </form>
        </div>
    </div>
    <!-- <div class="container sectionAppScreenshots">
        <h2 class="titleSection">Capturas de la aplicación</h2>

        <div class="contentApp">
            <img class="imgSlider" src="images/Screenshot1.png" alt="">
            <img class="imgSlider" src="images/Screenshot2.png" alt="">
            <img class="imgSlider" src="images/Screenshot3.png" alt="">
            <img class="imgSlider" src="images/Screenshot4.png" alt="">
            <img class="imgSlider" src="images/Screenshot1.png" alt="">
            <img class="imgSlider" src="images/Screenshot2.png" alt="">
            <img class="imgSlider" src="images/Screenshot3.png" alt="">
            <img class="imgSlider" src="images/Screenshot4.png" alt="">
        </div>
    </div> -->

    <%- include('../partials/footerTrazul.ejs') %>
</body>
</html>
<script src="/js/web/home.js"></script>