<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/web/globalStyles.css">
    <link rel="stylesheet" href="/css/web/home.css">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <%- include('../partials/metas.ejs') %>
    <title>Inicio - TRAZUL</title>
</head> 
<body>
    <%- include('../partials/headerTrazul.ejs') %>
    <section id="allSections">  
    <section class="divVideo">
        <video class="sourceVideoPc" autoplay muted loop >
            <source src="/images/heroeRedAzul-movil1.mp4" type="video/mp4"  id="videoSource">
            Tu navegador no soporta la etiqueta de video.
        </video>
        <a href="#plans" class="buttomUnete">Únete</a>    
    </section>

        <section id="containerSectionTrazul"> 
            <div class="sectionTrazul" id="firstAnimation">
                <h2 class="titleSection" id="titleTrazul" style="color: #FFF;">Beneficios de usar TRAZUL en tu unidad productiva    </h2>
                <!-- <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque veniam, ullam corrupti vitae nesciunt eos blanditiis minus nobis iusto?</p> -->
    
                <div class="containerInfoTrazul">
                    <div class="leftContent" id="leftTrazul">
                        <div class="optionInfo">
                            <p class="right"><span>Trazabilidad</span> <b>Interna y externa,</b> pensada para la <b>interoperabilidad</b> y para cumplir con el <b>mercado europeo y estadounidense.</b></p>
                            <div class="contentImg">
                                <img  src="/images/TrAzul-ICOs-AquaCode.png" alt="">
                            </div>                            
                        </div>
                        <div class="optionInfo">
                            <p class="right"><span>Registro contable</span> orientado a la estimación de la <b>utilidad por lote.</b></p>
                            <div class="contentImg">
                                <img  src="/images/contable-TrAzul-ICO.png" alt="">
                            </div>
                            
                        </div>
                        <div class="optionInfo">
                            <p class="right"><span>Registro de procesos de la producción</span> que son claves para evaluar el rendimiento y para vender ofrecimiendo un mayor valor percibido. </p>
                            <div class="contentImg">
                                <img  src="/images/process.svg" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="centerContent" id="centerTrazul">
                        <img src="/images/trazulApp.png" alt="">
                    </div>
                    <div class="rightContent" id="rightTrazul">
                        <div class="optionInfo reverseMobile">
                            <div class="contentImg">
                                <img src="/images/policultivoTrAzul-ICO.png" alt="">
                            </div>
                            <p class="left"><span>Cultivo de múltiples especies</span> pueden ser trazados, gestionado y vendidos </p>
                        </div>
                        <div class="optionInfo reverseMobile">
                            <div class="contentImg">
                                <img src="/images/permisos1.png" alt="">
                            </div>
                            <p class="left"><span>Adaptada a los requerimientos nacionales</span> sin dejar de cumplir con estándares internacionales (GDST) </p>
                        </div>
                        <div class="optionInfo reverseMobile">
                            <div class="contentImg">
                                <img src="/images/personalTraza2.png" alt="">
                            </div>
                            <p class="left"><span>Usuarios con diversos roles</span> por unidad productiva y organización </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <div id="benefitsOfTrazul">
            <div class="sectionSolution" id="sectionSolution">
                <h2 class="titleSection titleSolution">Pon en venta tus lotes en miPescao.com desde TRAZUL</h2>
                <!-- <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque veniam, ullam corrupti vitae nesciunt eos blanditiis minus nobis iusto?</p> -->
    
                <div class="containerSolution">
                    <div class="leftcontentSolution" id="leftContentSolution">
                        <img src="/images/design-various-RedAzul.png" alt="">
                    </div>
                    <div class="rightContentSolution" id="rightContentSolution">
                        <div class="optionInfoSolution">
                            <div class="contentImg">
                                <img src="/images/userNatural2.png" alt="">
                            </div>
                            <p class="left"><span>Usuarios verificados</span> para generar confianza entre ellos en las negociaciones.</p>
                        </div>
                        <div class="optionInfoSolution">
                            <div class="contentImg">
                                <img src="/images/lotePescado2.png" alt="">
                            </div>
                            <p class="left"><span>Oferta por lotes con trazabilidad</span> para generar confianza en la calidad de los productos.</p>
                        </div>
                        <div class="optionInfoSolution">
                            <div class="contentImg">
                                <img src="/images/positionICO.png" alt="">
                            </div>
                            <p class="left"><span>Buscador con contexto geográfico</span> que es importante para los controladores.</p>
                        </div>
                        <div class="optionInfoSolution">
                            <div class="contentImg">
                                <img src="/images/verificaCampo.png" alt="">
                            </div>
                            <p class="left"><span>Servicio de verificación en campo</span> durante la cosecha y/o despacho.</p>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
        
        <div class="containerPlans" id="plans">
            <div class="container sectionPlans">
                <h2 class="titleSection">Nuestros planes</h2>
        
                <div class="containerCards">
                    <div class="cardPlan basicPlan">
                        <div class="titleCard" id="titlePrefectPLan">Prueba gratuita</div>
                        <span>Solicita una prueba gratis por un mes</span>
                        <div class="priceCard">$0 mensual</div>
                        <a href="/unete" class="buttonContact generalShadow">Solicitar prueba</a>
                        <ul class="descriptionPlan">
                            <li><b>Esta prueba incluye:</b></li>
                            <li>✓ 1 unidad productiva</li>
                            <li>✓ 1 usuario</li>
                            <li>✓ 1 estanque</li>
                        </ul>
                    </div>
                    <div class="cardPlan basicPlan">
                        <div class="titleCard" id="titlePrefectPLan">Plan básico</div>
                        <span>Ideal para acuicultores que inician con su primer estanque.</span>
                        <div class="priceCard">$75.000 mensual</div>
                        <a href="/unete" class="buttonContact generalShadow"> Comprar </a>
                        <ul class="descriptionPlan">
                            <li><b>Este plan incluye:</b></li>
                            <li>✓ 1 unidad productiva</li>
                            <li>✓ 1 usuario</li>
                            <li>✓ 1 estanque</li>
                        </ul>
                    </div>
                    <div class="cardPlan platinumPlan">
                        <div class="titleCard" id="titlePrefectPLan">Plan platino</div>
                        <span>Ideal para acuicultores con hasta 3 estanques, listos para crecer.</span>
                        <div class="priceCard">$130.000 mensual</div>
                        <a href="/unete" class="buttonContact generalShadow"> Comprar </a>
                        <ul class="descriptionPlan">
                            <li><b>Este plan incluye:</b></li>
                            <li>✓ 1 unidad productiva</li>
                            <li>✓ 3 usuarios</li>
                            <li>✓ 3 estanques</li>
                        </ul>
                    </div>
                    <div class="cardPlan goldPlan">
                        <div class="titleCard">Plan oro</div>
                        <span>Ideal para acuicultores con operaciones de mayor escala.</span>
                        <div class="priceCard">$370.400 mensual</div>
                        <a href="/unete" class="buttonContact generalShadow"> Comprar </a>
                        <ul class="descriptionPlan">
                            <li><b>Este plan incluye:</b></li>
                            <li>✓ 2 unidades productiva</li>
                            <li>✓ Usuarios ilimitados</li>
                            <li>✓ 10 estanques</li>
                        </ul>
                    </div>
                </div>
    
            </div>
            <div class="titleSection">Adicionales</div>

            <div class="aditionalsCard generalShadow">
                <div class="optonsAditionals">
                    <div class="aditionalOptions">
                        <div class="titleAditional">Unidades productiva adicional</div>
                        <div class="descriptionAditional">$50.000 mensual</div>
                    </div>
                    <div class="aditionalOptions">
                        <div class="titleAditional">Estanques adicionales</div>
                        <div class="descriptionAditional">$50.000 mensual</div>
                    </div>
                    <div class="aditionalOptions">
                        <div class="titleAditional">Usuarios adicionales</div>
                        <div class="descriptionAditional">$15.000 mensual</div>
                    </div>
                </div>
            </div>

            <div class="cotizarPlan">
                <h3 class="titleSection">Calcula el precio con base en tu necesidades</h3>
                
                <div class="containerSectionCalculator">
                    <div class="calculatorcontainer generalShadow">
                        <div class="infoCalculator ">
                            <label class="labelOptions" for="numberProductiveUnit">
                                <span class="titleInputsCalculator">¿Cuantas unidades productivas tienes?</span>
                                <input class="inputCalculator generalShadow" placeholder="Numero de unidades productivas" type="number" name="numberProductiveUnit" valid-input="false" id="numberProductiveUnit" onkeyup="validadeInputs('numberProductiveUnit')">
                            </label>
                            <label class="labelOptions" for="estanques">
                                <span class="titleInputsCalculator">¿Cuantos estanques tienes?</span>
                                <input class="inputCalculator generalShadow" placeholder="Numero de estanques en tu unidad productiva" type="number" name="numberPonds" valid-input="false" id="estanques" onkeyup="validadeInputs('numberPonds')">
                            </label>
                            <label class="labelOptions" for="usuarios">
                                <span class="titleInputsCalculator">¿Cuantos usuarios tienes?</span>
                                <input class="inputCalculator generalShadow" placeholder="Numero de usuarios en tu unidad productiva" type="number" name="numberUsers" valid-input="false" id="usuarios" onkeyup="validadeInputs('numberUsers')">
                            </label>
                            <buttom valid-form="false" id="calculateform" class="calculate generalShadow "  >Calcular precio</buttom>
                        </div>
                        <div class="price" id="priceFormCalculator"></div>
                    </div>
                    <div class="responseCalculator"  style="display: none;">
                        <p class="titlePerfectPlan">El plan perfecto para ti es:</p>

                        <div class="cardPerfectPlan  generalShadow">
                            <div class="titleCard" id="titlePrefectPlan">Plan oro</div>
                            <!-- <span>Ideal para acuicultores con operaciones de mayor escala.</span> -->
                            <div class="priceCard" id="pricePerfectPlan">$370.400 mensual</div>
                        </div>
                        
                        <div class="subtitlePerfectPlan">Adicionales:</div>

                        <ul>
                            <li><span id="spanNumberEstanques">✓ 3 estanques adicionales</span> - <b class="bPerfectPlan" id="priceEstanques">$20.000</b> </li>
                            <li><span id="spanNumberUsuarios">✓ 3 usuarios adicionales</span> - <b class="bPerfectPlan" id="priceUsuarios">$20.000</b> </li>
                            <li><span id="spanNumberUnidades">✓ 3 unidades productivas</span> - <b class="bPerfectPlan" id="priceUnidad">$20.000</b> </li>
                        </ul>

                        <div class="subtitlePerfectPlan">Total:</div>
                        <span>Total mensual a pagar - <b class="bPerfectPlan" id="totalPlan">$500.000</b></span>

                        <a href="/unete" class="buttonContact generalShadow buttonPerfectPlan"> Comprar </a>

                    </div>
                </div>
            </div>

            <div class="carrouselApp">
                <h3 class="titleSection">Conoce nuestra aplicación</h3>

                <div id="subtitleSlider">Puedes ver los lotes que has creado, registrar la mortalidad de tus lotes, insumos, biomasa, alimento, medicamentos, etc...</div>
                <!-- <div class="subtitleSlider">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, totam.</div> -->
                <div class="slider">
                    <img class="arrowsSlider" src="/images/leftArrow.svg" alt="" onclick="leftSlider()">

                    <div class="containerSlider" id="containerSlider">
                        <div class="sliderOption" id="divTransition">
                            <img class="imgSlider" src="/images/imagesApp/allLots.jpg" alt="">
                            <img class="imgSlider" src="/images/imagesApp/infoLots.jpg" alt="">
                            <img class="imgSlider noPhone" src="/images/imagesApp/biomasa.jpg" alt="">
                            <img class="imgSlider noPhone" src="/images/imagesApp/supervivenciaYcostos.jpg" alt="">
                        </div>
                        <div class="sliderOption">
                            <img class="imgSlider" src="/images/imagesApp/personalOperativo.jpg" alt="">
                            <img class="imgSlider noPhone" src="/images/imagesApp/personalGuardado.jpg" alt="">
                            <img class="imgSlider " src="/images/imagesApp/ingresos.jpg" alt="">
                            <img class="imgSlider noPhone" src="/images/imagesApp/egresos.jpg" alt="">
                            
                        </div>
                        <div class="sliderOption">
                            <img class="imgSlider" src="/images/imagesApp/insumos.jpg" alt="">
                            <img class="imgSlider noPhone" src="/images/imagesApp/padrotesView.jpg" alt="">
                            <img class="imgSlider " src="/images/imagesApp/vincularAlimento.jpg" alt="">
                            <img class="imgSlider noPhone" src="/images/imagesApp/otrosInsumos.jpg" alt="">
                        </div>
                        
                    </div>

                    <img class="arrowsSlider" src="/images/chevron_right.svg" alt="" onclick="rightSlider()">
                </div>
            </div>

        </div>

        <div class="containerSection heightSection classAnimation">
            <div class="contactSection" >
                <div class="left">
                    <h2>CONTACTO</h2>
                    <div class="subtitle">Trabajemos juntos</div>
    
                    <div class="infoContact">
                        <p>Barranquilla - Colombia (Suramérica)</p>
                        <a href="mailto:contacto@redazul.co">contacto@redazul.co</a>
                        <p>Tel: +57 311 5858284</p>
                    </div>
    
                    <div class="socialMedia">
                        <a href="https://wa.me/573115858284" target="_blank"><img src="/images/whiteIcons1-whatsapp.svg" alt=""></a>
                        <a href="https://www.instagram.com/redazul.co/profilecard/?igsh=MWZtb3F5emo2YjQwbQ==" target="_blank"><img src="/images/whiteIcoInstagram.svg" alt="intagram"></a>
                        <a href="https://www.facebook.com/share/tWzA2T53Y692YwCB/" target="_blank"><img src="/images/whiteIcoFacebook.svg" alt="facebook"></a>
                        <a href="https://www.linkedin.com/company/redazul/" target="_blank"><img src="/images/whiteIcons8-linkedinBlack.svg" alt="linkeding"></a>
                    </div>
                </div>
                <div class="right">
                    <form action="" id="formContact" onsubmit="sendContactFunction(event)">
                        <label for="name">
                            <p>Nombres</p>
                            <input id="name" type="text" placeholder="" name="name" class="inputFormHome" required>
                        </label>
                        
                        <label for="lastName">
                            <p>Apellidos</p>
                            <input id="lastName" type="text" placeholder="" name="lastname" class="inputFormHome">
                        </label>
    
                        <label for="email" class="width100">
                            <p>Email</p>
                            <input id="email" type="email" placeholder="" name="email" class="inputFormHome " required>
                        </label>
                        
                        <label for="comentario" class="width100">
                            <p>Comentarios</p>
                            <textarea name="message"  id="" class="inputFormHome" required></textarea>
                        </label>
                        
                        <div class="width100">
                            <input type="submit" form="formContact" value="Enviar" class="buttomFormHome">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <!-- <div class="" id="contactForm" style="width: 100%; background-color: #FFFFFF;">
            <h2 class="titleSection titleContact">Ponte en contacto con nosotros</h2>
            <div class="container contactSection ">
                <div class="infoSection">      
                    <img class="imgFormSection" src="/images/heroe-1.jpg" alt="">
                </div>
                <form class="containerFormSection">
                    <select name="rolUSer" class="rolUser" id="" onchange="verifyInputs()">
                        <option disabled selected value="">¿Cual es tu rol?</option>
                        <option value="Acuicultor">Acuicultor</option>
                        <option value="Comprador mayorista">Comprador mayorista</option>
                        <option value="Transportador">Transportador</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <input type="text" name="otherRol" style="display: none;" class="otherRol" placeholder="¿Cual es?" onkeydown="verifyInputs()">
                    <input type="text" name="nameUser" class="nameUser" placeholder="Nombre completo" onkeydown="verifyInputs()">
                    <input type="email" name="userEmail" class="userEmail" placeholder="Correo electronico" onkeydown="verifyInputs()">
                    <input type="number" name="numberPhone" class="numberPhone" placeholder="Numero celular" onkeydown="verifyInputs()">
                    <textarea name="message" class="message" id="" placeholder="Escribe un mensaje" cols="20" rows="7" onkeydown="verifyInputs()"></textarea>
                    <input type="submit" value="Contactarnos" class="buttomSubmit" onclick="sendform()">
                </form>
            </div>
        </div> -->
    </section>
    
    
    <%- include('../partials/loader.ejs') %>
</body>
</html>
<script src="/js/web/global.js"></script>
<script src="/js/web/home.js"></script>
