@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color:rgba(0, 95, 174, 0.1); /* Color de fondo similar al agua */
    color: #37474f; /* Color de texto principal */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 75%;
    height: 80%;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0ñ.1); /* Sombra suave */
}

.postContainer {
    width: 75%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px; 
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1, h2, h3 {
    color: #005fae; /* Color de texto de encabezados */
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Estilos de formulario */
input[type="text"] {
    width: 15%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input::placeholder {
    color: #959595da; /* Color deseado para el placeholder */
}

#formButton{
    background-color: #005fae; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#containerFormButton{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #00796b; /* Cambio de color al pasar el ratón */
}

/* Estilos para la lista */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin-bottom: 10px;
    background-color: #fff; /* Fondo blanco para cada elemento de la lista */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    word-break: break-word;
}

#batchInputs{
    display: flex;
    justify-content: center;
}

#inputsSeparator{
    font-size: 40px;
    margin-left: 1%;
    margin-right: 1%;
}

/* Estilos para el mapa */
#map{
    width: 600px;
    max-width: 95%;
    height: 300px;
    margin: auto;
    border: 1px solid #cccccc8a;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* INICIO DE dynamic */
.data-hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    z-index: 999; /* Asegura que la superposición esté encima de otros elementos */
    display: none; /* Por defecto oculto */
    backdrop-filter: blur(3px); /* Aplicar desenfoque al fondo */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #00796b; /* Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    z-index: 1000; /* Asegura que el loader esté encima de la superposición */
    display: none; /* Por defecto oculto */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none; /* Evita la selección de texto */
    -moz-user-select: none; /* Evita la selección en navegadores Firefox */
    -webkit-user-select: none; /* Evita la selección en navegadores Safari y Chrome */
    -ms-user-select: none; /* Evita la selección en navegadores Edge */
}

li img{
    width: 10%;
}

.itemTitle{
    margin-left: 3%;
    font-weight: bold;
}

.mainDiv{
    display: flex;
    row-gap: 20px;
    align-items: center;
}

.arrowNext{
    width: 6%;
    margin-bottom: 10px;
}