<style>
    
.generalShadowHeader {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

header{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    height: 70px;
    padding: 5px 5%;
    display: flex;
    align-items: center ;
}

.containerOptionsHeader{
    width: 100%;
    max-width: 1200px;
    column-gap: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background .1s,border .1s,border-radius .1s,box-shadow .1s,min-height .1s ease-in-out; 
}

.logoRedAzul{
    height: 100%;
    max-width: 200px;
    object-fit: contain;
}

.optionsHeader{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.buttomUneteHeader{
    background-color: #2fb8c0;
    padding: 8px 10px;
    color: #FFFFFF;
    font-size: "Nunito-bold";
    border-radius: 8px;
    text-align: center;
}

.heightHeader{
    height: 70px;
}

@media screen and (max-width: 400px){
    .logoRedAzul{
        max-width: 150px;
    }
}

</style>

<!-- Estilo en el archivo header.css -->
<header class="generalShadowHeader">
    <div class="containerOptionsHeader" id="containerHeader">
        <a href="/"><img class="logoRedAzul" src="/images/logo-RedAzul-Horizontal.png" alt=""></a>
        <!-- <a href="/login" class="buttomUneteHeader">Iniciar sesión</a> -->
        <a href="https://redazul.co/login" class="buttomUneteHeader">Iniciar sesión</a>
    </div>
</header>
<div class="heightHeader"></div>