<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Actualización de Trazul</title>
    <link rel="stylesheet" href="css/updateApk.css">
</head>
<body>
    <div class="container">
        <h2>Subir Nueva Actualización de Trazul</h2>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="apkFile">Archivo (APK):</label>
            <input type="file" id="apkFile" name="apkFile" accept=".apk" required>
            
            <label for="version">Número de Versión:</label>
            <input type="text" id="version" name="version" required>
            
            <label for="hash">Hash de Autenticación:</label>
            <input type="text" id="hash" name="auth" required>
            
            <button type="submit" id="submitButton" disabled>Subir Actualización</button>
        </form>
    </div>

    <!-- ALERTA PERSONALIZADA -->
    <div id="alertContainer" class="alert-container"></div>

    <script src="js/updateApk.js"></script>
    <script>const versionApi = "<%= apisVersion %>"</script>
</body>
</html>
